<section>
    <div class="modal-header">
        <h2 class="modal-title">
            S&eacute;lectionner l&apos;intervention &agrave; charger
            <small>(ND&nbsp;:&nbsp;{{vm.nd}})</small>
        </h2>
    </div>

    <div class="modal-body">
        <table class="table table-striped va-middle">
            <thead>
            <tr>
                <th>Actions</th>
                <th>Date</th>
                <th>Sauvegarde</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="intervention in vm.interventions">
                <td>
                    <i data-ng-click="vm.loadIntervention(intervention)"
                       class="fa btn-sm btn-primary"
                       data-ng-class="{'fa-pencil-square-o': intervention.rights.length > 0,
                                       'fa-eye': intervention.rights.length <= 0}"></i>
                </td>
                <td>{{ intervention.date | date : "dd/MM/yyyy HH:mm" }}</td>
                <td>{{ intervention.statut }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.createIntervention()">
            Cr&eacute;er une intervention &agrave; partir de ce ND
        </button>
    </div>
</section>
